
/* Top-Bar Nav */

.top-bar{
  color:$white;

  span{
    color:lighten( $primary, 30% );
    background:$dark-gray;
    padding:5px 9px;
    margin-right:4px;
  }

  li{
    text-transform: uppercase;
  }

  a{
    color: $white;
  }

  a:hover{
    color: $secondary;
  }

  a.current{
    color: $secondary;
    border-bottom:3px solid $secondary;
  }
}



/* nav bar testing*/
$topbar-center-logo-bg:$dark-gray;

.topbar-center-logo {
  background: $topbar-center-logo-bg;

  .menu {
    background: $topbar-center-logo-bg;

    a {
      color: $white;
    }
    a:hover{
      color: $secondary;
    }
  }
}

.topbar-center-logo .top-bar-center {
  flex: 1 0 auto;

  @include breakpoint(small only) {
    display: none;
  }
}

.topbar-center-logo-mobile {
  background: $topbar-center-logo-bg;

  .menu-icon {
    vertical-align: text-top;
  }
}
