
/* Top-Bar Nav */

.top-bar {
  color: $white;

  span {
    color: lighten( $primary, 30% );
    background: $dark-gray;
    padding: 5px 9px;
    margin-right: 4px;
  }

  li {
    text-transform: uppercase;
  }

  a {
    color: $white;
  }

  a:hover {
    color: $secondary;
  }

  a.current {
    color: $secondary;
    border-bottom: 3px solid $secondary;
  }
}

/* mobile nav and off canvas */
