<!-- mobile nav bar -->
<div class="title-bar topbar-center-logo-mobile" data-responsive-toggle="topbar-center-logo" data-hide-for="medium">
  <div class="title-bar-left">


  </div>
  <div class="title-bar-right">
<button class="menu-icon" type="button" data-toggle="topbar-center-logo"></button>
  </div>
</div>
<!-- /mobile nav bar -->

<!-- medium and larger nav bar -->
<div class="top-bar topbar-center-logo" >
  <div class="top-bar-left">
<h3><span>Thunder-Jones</span>Construction</h3>
  </div>
  <div class="top-bar-right" id="topbar-center-logo">
    <ul class="menu vertical medium-horizontal">
      <li><a class=href="index.html">Home</a></li>
      <li><a href="projects.html">Projects</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="company.html">Company</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </div>
</div>
<!-- /medium and larger nav bar -->
