<!-- Add a Sticky Menu -->
<div data-sticky-container>
  <div class="title-bar" data-sticky data-margin-top="0" id="example-menu">
    <div class="title-bar-left">
      <ul class="menu">
        <li class="menu-text">Site Title</li>
      </ul>
    </div>
    <div class="title-bar-right">
      <ul class="menu" data-magellan>

          <li><a href="#first">Home</a></li>
          <li><a href="#second">About</a></li>
          <li><a href="#third">Services</a></li>
          <li><a href="#fourth">Projects</a></li>
          <li><a href="#fifth">Team</a></li>
          <li><a href="#sixth">Contact</a></li>
        </ul>
      </ul>
    </div>
  </div>
</div>
