<!-- Navigation -->
<!-- medium and larger nav bar -->
<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">

</div>

<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Thunder-Jones Construction</li>
  </div>

  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="projects.html">Projects</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="company.html">Company</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
    </ul>
  </div>
</div>
<!-- /Navigation -->
