
<div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">Thunder-Jones</li>
      </ul>
    </div>

    <div class="top-bar-right">
      <nav class="hover-underline-menu" data-menu-underline-from-center>
        <ul class="menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="company.html">About Us</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
</div>
