
<div class="top-bar">

    <div class="top-bar-left">
      <h3>Thunder-Jones</h3>
    </div>

    <div class="top-bar-right">
      <nav class="hover-underline-menu" data-menu-underline-from-center>
        <ul class="menu align-center">
          <li><a href="index.html">Home</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="company.html">About Us</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>

</div>
