<!-- Navigation -->
<!-- medium and larger nav bar -->
<div data-sticky-container>
     <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
     </div>

     <div class="top-bar" id="responsive-menu" data-sticky data-margin-top="0">             

        <div class="top-bar-left">
           <ul class="dropdown menu" data-dropdown-menu>
           <li class="menu-text">
           <h4><span>Thunder-Jones</span>Contracting Group Inc</h4></li>
        </div>

        <div class="top-bar-right">
           <ul class="menu" data-magellan>
             <li><a href="#first">Home</a></li>
             <li><a href="#second">About</a></li>
             <li><a href="#third">Services</a></li>
             <li><a href="#fourth">Projects</a></li>
             <li><a href="#fifth">Team</a></li>
             <li><a href="#sixth">Contact</a></li>
           </ul>
        </div>

      </div>
</div>

<!-- /Navigation -->
